<!-- About Component -->

<div class="about-section">



  <div class="section-header">
    <h2 class="title-text">My Journey</h2>
  </div>

  
    <app-timeline></app-timeline>
  






  <app-skills></app-skills>


  <div class="education-section">
    <h3 class="subtitle-text">Education</h3>
    <p class="degree-info">Bachelor's degree in Computer Science from the University of Texas at Tyler.</p>
    <div class="university-logo">
      <a href="https://www.uttyler.edu/" target="_blank">
        <img src="/assets/uttyler-primary-digital-fullcolor-reversed.png" alt="UT Tyler Logo" class="logo-img">
      </a>
    </div>
  </div>

</div>

