<div id="unity-container" class="unity-desktop">
  <canvas id="unity-canvas" width=960 height=600></canvas>
  <div id="unity-loading-bar">
    <div id="unity-logo"></div>
    <div id="unity-progress-bar-empty">
      <div id="unity-progress-bar-full"></div>
    </div>
  </div>
  <div id="unity-mobile-warning">
    WebGL builds are not supported on mobile devices.
  </div>
  <div id="unity-footer">
    <div id="unity-fullscreen-button"></div>
    <div id="unity-build-title">The simulation</div>
  </div>
  <div class="performance-warning">Performance on browser is very limited</div>
  <a target="_blank" rel="noreferrer noopener" href="https://drive.google.com/file/d/16PbRPjn8tNsxWuzauV97KgaVRHJG8tTX/view?usp=sharing" class="download-link">
    <div>Download exe</div>
  </a>
  <a href="https://clintboyett.com/Home" class="back-button">Back</a>
</div>