<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Clint Boyett's Portfolio">
  <meta name="keywords" content="Clint Boyett, Portfolio, Web Developer">
</head>

<body style="background-color: transparent;">
  
  <div id="home">
    <div class="particles" id="particles-js">
      <div class="centerConsole">
        <app-console></app-console>
      </div>
    </div>

  </div>
  <app-portfolio></app-portfolio>

  <canvas class="parallaxCanvas" id="parallaxCanvas" #canvas></canvas>

  <div class="parallax-hex"></div>

  <app-about></app-about>

  <app-contact></app-contact>

</body>

</html>